* {
    margin:0px;
    padding:0px;
}

.appHeader{
    height:600px;
    background-image: url(../images/background.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    margin-bottom: 10px;
    
}

#logo{
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(../images/logo.png);
}

.navbar navbar-light bg-white{
    width: 100%;
    position: absolute;
}
